@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{margin: 0; padding: 0;}

#wrap{}
#banner{background: url(../img/banner_main_01.jpg) no-repeat center top; background-size: cover;}
.header{height: 70px;}

.nav{height: 68px; background: rgba(0, 0, 0, 0.2);}
.nav span{width: 50px; height: 51px; margin-top: 8px; float: left;}
.nav_icon_l{margin-right: 146px; background: #021e3d;}
.nav_icon_r{margin-left: 147px; background: #0d417b;}
.nav a{padding: 22px 24px; text-decoration: none; float: left; color: #fff; font-size: 17px; font-weight: bold; font-family: 'Noto Sans KR', sans-serif;}

.title{height: 547px;}   

.cont_02{height: 350px; background: #e8edee;}
.newsbox{height: 266px; width: 294px; float: left; margin-top: 46px; margin-bottom: 40px; margin-left: 8px; background: #fff;}
.newsbox:first-child{margin-left: 0;}

.cont_01{height: 364px; background: #fff;}
.cont_03{height: 364px; background: #fff;}
.cont_textbox, .cont_anchorbox{width: 283px; height: 278px; float: left;}
.cont_textbox{margin-top: 47px; margin-bottom: 39px; background: #fff;}
.cont_anchorbox{border: 1px solid #e7e7e7; margin-top: 46px; margin-bottom: 38px; margin-left: 20px;}

.service{height: 331px; background: url(../img/service_bg.jpg) no-repeat center center;}
.service h2{height: 109px;}  
.service li{height: 38px; width: 160px; margin-right: 1px; display: inline; float: left; background: lightblue;}  
.service li a{display: inline-block; width: 160px; height: 38px;}
.ser_tab{height: inherit; width: inherit;}
.ser_cont{height: 146px; clear: both; background: #fff;}

.notice{height: 365px; background: #eef0f6;}
.noti_title{height: 134px; text-align: center;}
.noti_cont{height: 188px; width: 439px; margin-right: 20px; float: left; background: #fff;}
.noti_slidebox{height: 187px; width: 280px; border: 1px solid #e0e0e0; float: left;}

.ref{height: 66px; background: #fff;}    

.footer_01{height: 44px; background: #30343f;}    
.footer_02{height: 132px; background: #3b414d;}   

.container{width: 1200px; height: inherit; margin: 0 auto; background: rgba(0, 0, 0, 0.02);}
