@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


.contents{background: #eeeff3;}
.cont_box{height: 723px;}
.cont_box .container{background: #fff;}
.cont_box h1{text-align: center; font-weight: bold; padding-top: 150px; letter-spacing: 5px; color: #04264c; font-size: 2.5em;}
fieldset{width: 500px; margin: 10px auto; border: none;}
.login_box{margin-top: 30px;}
.login_box input{display: block; width: 300px; margin: 15px auto; padding: 10px; color: #333; border: 1px solid #04264c; border-radius: 10px;}
.btn{font-size: 0.8em; margin-left: 90px;}
.btn #saveIDLabel{font-size: 1.2em;}
.btn #saveID{position: relative; top: 2px; left: 2px;}
.btn #forgotInfo{text-decoration: none; color: #000; margin-left: 130px; font-size: 1.2em;}
#doLogin{display: block; width: 320px; margin: 15px auto; padding: 10px; background: #04264c; color: #fff; border: none; border-radius: 15px; font-size: 1.2em; cursor: pointer;}
