@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* initial setting */
#wrap{font-family: 'Noto Sans KR', sans-serif;}
a{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1200px; height: inherit; margin: 0 auto; background: rgba(0, 0, 0, 0.02);}


.sub_nav{height: 48px; border-bottom: 1px solid #d2d2d2;}
#homeButton{width: 48px; height: 49px; background: #d1463b; border-right: 1px solid #d2d2d2; float: left;}
.sub_nav_box{width: 218px; height: 48px; border-right: 1px solid #d2d2d2; float: left;}
.function_box{width: 46px; height: 48px; border-right: 1px solid #d2d2d2; float: right;}
.function_box:last-child{border-left: 1px solid #d2d2d2;}

.contents{}
.page_title{height: 174px;}
.cont_box{height: 905px;}
.cont_box .container{border-top: 2px solid #333;}

.table_incharge{height: 211px;}
.table_incharge .container{border-top: 2px solid #333;}
.table_incharge table{border-collapse: collapse;}
.table_incharge th, td{width: 298px; height: 43px; border: 1px solid #ccc; border-top: none;}
.table_incharge th{border-top: none; border-bottom: 1px dashed #ccc; background: #f7f7f7;}
.table_incharge th:last-child, td:last-child{width: 301px;}