@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Initial setting */
#wrap{font-family: 'Noto Sans KR', sans-serif; width: 100%;}
a{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1200px; height: inherit; margin: 0 auto; /* background: rgba(0, 0, 0, 0.02); */}


/* banner */
#banner{position: relative;}
/* header */
.header{height: 70px;}
#headerLogo{display: block; width: 161px; height: 46px; margin-top: 14px; margin-right: 26px; background: url(../img/header_logo.png) no-repeat; float: left;}
#headerImg1{display: block; width: 100px; height: 32px; margin-top: 21px; margin-left: 21px; background: url(../img/header_flag.png) no-repeat; background-size: 48px; float: left;}
#headerImg1 span{display: block; width: 40px; margin-left: 60px; font-size: 10px; font-weight: bold; color: #fff;}
#headerImg2{display: block; width: 107px; height: 41px; margin-top: 16px; margin-left: 21px; background: url(../img/header_gov.png) no-repeat; float: left;}
#headerImg3{display: block; width: 137px; height: 36px; margin-top: 16px; margin-left: 21px; background: url(../img/header_kor.png) no-repeat; float: left;}
.header_right_box{width: 72px; height: 39px; float: right; margin-top: 17px;}
.header_right_box>a{display: block; font-size: 12px; color: #fff; font-weight: bold; margin-bottom: 3px;}
.header_right_box>a span:after{content: " "; width: 20px; height: 20px; position: absolute; background: url(../img/arrow_gray1.png) no-repeat -40px 0;}
.header_right_box ul:after{content: ""; display: table; clear: both;}
.header_right_box ul li{width: 22px; height: 22px; border: 1px solid #fff; float: left; margin-right: 2px; text-align: center; box-sizing: border-box;}
.header_right_box ul li.zoom_out{background: url(../img/header_icon_minus_white.png) no-repeat center center;}
.header_right_box ul li.zoom_in{background: url(../img/header_icon_plus_white.png) no-repeat center center;}
.header_right_box ul li a{display: block; width: 20px; height: 20px; font-size: 12px; color: #fff; line-height: 20px;}
/* nav */
.nav{height: 68px; background: rgba(0, 0, 0, 0.2);}
.nav .container{box-sizing: border-box; position: relative;}
.nav ul li{position: relative; float: left;}
.nav ul li dl{position: absolute; padding: 5px; background: #fff; top: 68px; left: 0; color: #414141; z-index: 1; display: none; box-shadow: 0 6px 12px rgb(0, 0, 0, .2);}
.nav ul li:hover dl{display: block;}
.nav ul li dl dt{font-size: 15px; font-weight: bold; padding: 5px 10px;}
.nav ul li dl dt:hover{background: #ececec;}
.nav ul li dl dd{font-size: 14px; padding-left: 15px;}
.nav ul li dl dd:before{content: "-"; float: left; margin: 0 5px;}
.nav ul li.menu1 dl{width: 150px;}
.nav ul li.menu2 dl{width: 170px;}
.nav ul li.menu3 dl{width: 270px;}
.nav ul li.menu4 dl{width: 180px;}
.nav ul li.menu5 dl{width: 150px;}
.nav ul li.menu6 dl{width: 200px;}
.nav ul li dl a{display: block; width: inherit; height: inherit;}
.nav ul li dl a:hover{color: #004fa8; text-decoration: underline;}
.nav span{width: 50px; height: 51px; margin-top: 8px; float: left;}
.nav_icon_l{margin-right: 146px; background: #021e3d url(../img/nav_icon_menu.png) no-repeat 15px 18px;}
.nav_icon_r{position: absolute; width: 50px; height: 50px; top: 0; right: 0; background: #0d417b url(../img/nav_icon_search.png) no-repeat center center;}
.nav .sub_menus{padding: 22px 24px; float: left; color: #fff; font-size: 17px; font-weight: bold;}
/* title_common */
.title_common{height: 547px;}
.title_common .container{position: relative;}
.title_common p{font-size: 18px; font-weight: bold; color: #fff; position: absolute; top: 480px; left: 70px;}
.title_common .line_title{width: 755px; height: 1px; background: #fff; position: absolute; top: 493px; left: 380px; z-index: -1;}
.sns_title{position: absolute; top: 470px; left: 700px;}
.sns_title li{float: left; width: 48px; height: 48px; background: url(../img/banner_sns_sprite.png) no-repeat; margin-left: 15px;}
.sns_title li.youtube{background-position: -96px 0;}
.sns_title li.facebook{background-position: 0 0;}
.sns_title li.twitter{background-position: -48px 0;}
.sns_title li.blog{background-position: -144px 0;}
.sns_title li.instagram{background-position: -240px 0;}
.sns_title li.band{background-position: -288px 0;}
.sns_title li.kakao{background-position: -336px 0;}
.sns_title li a{display: block; width: inherit; height: inherit;}
.title_common .btn_title_p{width: 33px; height: 33px; background: #2d4c60 url(../img/pausecontrol_white.png) no-repeat 5px 6px; position: absolute; top: 430px; left: 50%; transform: translate(-50%, 0); cursor: pointer;}
.title_common .arrow{display: block; width: 48px; height: 48px; position: absolute; background: url(../img/slide_nav_gray.png) no-repeat;}
.title_common .arrow_title_l{top: 50%; left: -10%; transform: translate(0, -50%);}
.title_common .arrow_title_r{top: 50%; right: -10%; transform: translate(0, -50%); background-position: -48px 0;}
/* titles */
.titles>li{height: 685px; width: 100%; position: absolute; top: 0; left: 0; z-index: -999;}
.titles .container{position: relative;}
.titles h2 strong{font-weight: normal; font-size: 67px;}
.titles h2{position: absolute; top: 260px; left: 70px; line-height: 1; text-shadow: 1px 1px 2px #333; font-family: 'Nanum Myeongjo', serif; font-size: 46px; font-style: italic; color: #fff;}
.title_1{background: url(../img/banner_main_01.jpg) no-repeat center top; background-size: cover;}

/* cont_02 */
.cont_02{height: 350px; background: #e8edee;}
.cont_02 .container{position: relative;}
.cont_02 .arrow_news{display: block; width: 48px; height: 48px; position: absolute; background: url(../img/slide_nav_gray.png) no-repeat;}
.cont_02 .arrow_news_l{top: 50%; left: -5%; transform: translate(0, -50%);}
.cont_02 .arrow_news_r{top: 50%; right: -5%; transform: translate(0, -50%); background-position: -48px 0;}
.cont_02 .news_pager{width: 82px; height: 33px; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); background: #5b6269; line-height: 33px; text-align: center; font-size: 12px; color: #fff; font-weight: bold;}
.cont_02 .news_pager .current_pg{color: #fbcd32;}
.cont_02 .play_btn{width: 33px; height: 33px; position: absolute; bottom: 0; left: 54%; cursor: pointer; background: #5b6269 url(../img/pausecontrol_white.png) no-repeat 5px 5px;}
.newsbox{height: 266px; width: 294px; float: left; margin-top: 46px; margin-bottom: 40px; margin-left: 8px; background: #fff;}
.newsbox:first-child{margin-left: 0;}
.news_imagebox{width: inherit; height: 184px; border-bottom: 1px solid #c7c7c7;}
.news_imagebox a{display: block; overflow: hidden; height: inherit;}
.news_imagebox a img{display: block; width: 100%; height: inherit; object-position: 50% 50%;}
.news_textbox{width: inherit; height: 81px; padding: 5px 15px; box-sizing: border-box;}
.news_textbox h3{font-size: 19px; color: #222222; font-weight: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.news_textbox p{font-size: 12px; color: #939393;}
/* cont_01/03 */
.cont_01, .cont_03{height: 364px; background: #fff;}
.cont_textbox, .cont_anchorbox{float: left;}
.cont_textbox{width: 283px; height: 278px; margin-top: 47px; margin-bottom: 39px;}
.cont_textbox h2{font-size: 30px; color: #092642; line-height: 1.2; letter-spacing: -1px;}
.cont_anchorbox{width: 285px; height: 280px; border: 1px solid #e7e7e7; margin-top: 46px; margin-bottom: 38px; margin-left: 20px; box-sizing: border-box; text-align: center;}
.cont_anchorbox dl{margin-top: 123px;}
.cont_anchorbox dl dt{color: #212121; font-size: 18px; font-weight: bold; margin-bottom: 10px;}
.cont_anchorbox dl dd{color: #939393; font-size: 15px; line-height: 1.2;}
.cont_anchorbox .detail_link{display: block; width: 201px; height: 37px; margin: 23px auto; box-sizing: border-box; border: 1px solid #5d5d5d; line-height: 35px; font-size: 14px; color: #515151;}
.c1_abox1{background: url(../img/cont01_box01.png) no-repeat center 20px;}
.c1_abox2{background: url(../img/cont01_box02.png) no-repeat center 20px;}
.c1_abox3{background: url(../img/cont01_box03.png) no-repeat center 20px;}
.c3_abox1{background: url(../img/cont02_box01.png) no-repeat center 25px;}
.c3_abox2{background: url(../img/cont02_box02.png) no-repeat center 0;}
.c3_abox3{background: url(../img/cont02_box03.png) no-repeat center 25px;}
/* service */
.service{height: 331px; background: url(../img/service_bg.jpg) no-repeat center center; background-size: cover;}
.service h2{height: 109px; color: #fff; font-size: 30px; line-height: 109px; font-weight: bold;}  
.tab_menu li{margin-right: 1px; display: inline; float: left; position: relative;}  
.tab_menu li a{display: inline-block; height: 38px; width: 160px; position: relative; background: #0085a1; box-sizing: border-box; padding-left: 15px; line-height: 38px; font-size: 13px; color: #fff;}
.tab_menu li a:hover{background: #03546b;}
.tab_menu li a:hover .icon_arrow{display: block; width: 24px; height: 24px; background: url(../img/arrow_white2.png) no-repeat; position: absolute; top: 50%; right: 10%; transform: translate(0, -50%);}
.ser_cont{height: 146px; width: inherit; clear: both; background: #fff; position: relative;}
.ser_cont .arrow_ser{display: block; width: 48px; height: 48px; position: absolute; background: url(../img/slide_nav_gray.png) no-repeat;}
.ser_cont .arrow_ser_l{top: 50%; left: 1%; transform: translate(0, -50%);}
.ser_cont .arrow_ser_r{top: 50%; right: 1%; transform: translate(0, -50%); background-position: -48px 0;}
.ser_cont .arrow_ser:hover{background: url(../img/slide_nav_blue.png) no-repeat;}
.ser_cont .arrow_ser_r:hover{background-position: -48px 0;}
.ser_cont ul{width: 1058px; margin: 0 auto; padding-top: 24px; overflow: hidden;}
.ser_cont li{float: left; width: 98px; height: 98px; margin-left: 22px; border: 1px solid #d4d4d4; border-radius: 50%; text-align: center; box-sizing: border-box; font-size: 11px; color: #424242;}
.ser_cont li:first-child{margin-left: 0;}
.ser_cont li a{display: block; width: inherit; height: inherit;}
.ser_cont li a span{display: block; padding-top: 60px;}
.ser_cont li.cate1_1{background: url(../img/tab1_icon01.png) no-repeat center 30%;}
.ser_cont li.cate1_2{background: url(../img/tab1_icon02.png) no-repeat center 30%;}
.ser_cont li.cate1_3{background: url(../img/tab1_icon03.png) no-repeat center 30%;}
.ser_cont li.cate1_4{background: url(../img/tab1_icon04.png) no-repeat center 30%;}
.ser_cont li.cate1_5{background: url(../img/tab1_icon05.png) no-repeat center 30%;}
.ser_cont li.cate1_6{background: url(../img/tab1_icon06.png) no-repeat center 30%;}
.ser_cont li.cate1_7{background: url(../img/tab1_icon07.png) no-repeat center 30%;}
.ser_cont li.cate1_8{background: url(../img/tab1_icon08.png) no-repeat center 30%;}
.ser_cont li.cate1_9{background: url(../img/tab1_icon09.png) no-repeat center 30%;}
/* notice */
.notice{height: 365px; background: #eef0f6;}
.noti_title{height: 134px; text-align: center;}
.noti_title h2{font-size: 30px; color: #092642; font-weight: bold; position: relative; top: 30px;}
.noti_title p{font-size: 14px; color: #717171; position: relative; top: 35px;}
.noti_cont{height: 188px; width: 439px; margin-right: 20px; float: left; position: relative;}
.icon_more{display: block; width: 50px; height: 50px; position: absolute; top: 0; right: 5px; background: url(../img/notice_icon_plus.png) no-repeat center right;}
.noti_cont dl{position: absolute;}
.noti_cont dl dt{width: 92px; height: 50px; box-sizing: border-box;}
.noti_cont dl dt a{display: block; height: inherit; line-height: 50px; color: #212121; font-size: 15px; font-weight: bold; text-align: center; background: url(../img/notice_divide_line1.png) no-repeat center right;}
.noti_cont dl.noti_1 dt a{color: #fff; background: #3d7ece;}
.noti_cont dl.noti_2{top: 0; left: 92px;}
.noti_cont dl.noti_3{top: 0; left: 184px;}
.noti_cont dl dd{border-top: 1px solid #9a9a9a; box-sizing: border-box; padding-top: 20px; width: 439px; position: absolute;}
.noti_cont dl.noti_2 dd{left: -92px;}
.noti_cont dl.noti_3 dd{left: -184px;}
.noti_cont ul.noti_list li{padding-left: 20px; margin-bottom: 5px; position: relative; background: url(../img/zzzz.png) no-repeat 9px center;}
.noti_cont ul.noti_list li a{display: block; font-size: 14px; width: 319px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #4d4d4d;}
.noti_cont ul.noti_list li span{position: absolute; top: 0; right: 10px; font-size: 14px; color: #939393;}
.noti_slidebox{height: 189px; width: 282px; border: 1px solid #e0e0e0; background: #fff; float: left; box-sizing: border-box; position: relative;}
.noti_slidebox .remote{position: absolute; top: 112px; right: 0;}
.noti_slidebox .remote ul li{float: left; margin-left: 3px;}
.noti_slidebox .remote ul li button{cursor: pointer; width: 33px; height: 33px;}
.noti_slidebox .remote .remote_l{background: #2d4c60 url(../img/arrow_white2.png) no-repeat -67px center;}
.noti_slidebox .remote .remote_r{background: #2d4c60 url(../img/arrow_white2.png) no-repeat -43px center;}
.noti_slidebox .remote .remote_p{background: #2d4c60 url(../img/pausecontrol_white.png) no-repeat 5px 6px;}
.noti_slidebox .slides h4{text-align: center; height: 42px; font-size: 15px; line-height: 42px;}
.noti_slidebox .slides a{display: block; height: 145px;}
.noti_slidebox .slides .slide_1 a{background:url(../img/noti_01.jpg) no-repeat center center/100%;}
/* ref */
.ref{height: 66px; background: #fff;}
.ref .container{position: relative;}
.ref .ref_btn{border: 1px solid #c2c2c2; background: #fff; position: relative; margin-top: 13px; margin-right: 7px; float: left;} 
.ref .ref_btn button{width: 281px; height: 38px; position: relative; padding: 8px 12px; font-weight: bold; background: none; text-align: left; cursor: pointer; font-size: 14px;}
.ref .ref_btn button:after{display: block; position: absolute; top: 7px; right: 5px; width: 24px; height: 24px; content: ""; background: url(../img/arrow_gray2.png) no-repeat ;}
.ref .ref_btn ul{display: none; width: 564px; position: absolute; bottom: 100%; left: -1px; border-top: 1px solid #ccc; border-left: 1px solid #ccc;}
.ref .ref_btn ul.w_282{width: 282px;}
.ref .ref_btn ul li{float: left; width: 281px; height: 38px; background: #fff; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;  position: relative;}
.ref .ref_btn ul li a{display: block; box-sizing: border-box; height: inherit; font-size: 14px; padding: 8px 12px; color: #333; font-weight: bold;}
.ref .ref_btn ul li a:after{display: block; position: absolute; top: 7px; right: 5px; width: 24px; height: 24px; content: ""; background: url(../img/arrow_gray2.png) no-repeat -48px 0;}
.ref .ref_btn ul li a:hover{color: #004fa8; background-color: #f5f5f5;}
.ref .ref_btn:hover ul{display: block;}
#moveToTop{position: absolute; top: 0; right: 0;} 
#moveToTop a{display: block; width: 40px; height: 40px; background: #555 url(../img/ref_icon_top.png) no-repeat center center; margin-top: 13px;}


/* footer_01 */
.footer_01{height: 44px; background: #30343f;}    
.footer_menu{height: inherit;}    
.user_menu{height: inherit; float: left;}    
.user_menu li{float: left; margin-left: 20px;}    
.user_menu li:first-child{margin-left: 0;}    
.user_menu li a{display: block; height: 22px; color: #d0d1d2; font-size: 14px; padding: 11px 0; }    
.user_menu li:first-child a{color: #fbcd32;}    
.sns_menu{height: inherit; float: right;}
.sns_menu li{float: left; width: 30px; height: 30px; margin-top: 8px; margin-left: 7px; border-radius: 15px;}
.sns_menu li a{display: block; width: inherit; height: inherit; background: #4e555f url(../img/footer_sns_sprite.png) no-repeat; border-radius: 15px;}
.sns_menu li.youtube a{background-position: -60px 0;}
.sns_menu li.facebook a{background-position: 0 0;}
.sns_menu li.twitter a{background-position: -30px 0;}
.sns_menu li.blog a{background-position: -90px 0;}
.sns_menu li.instagram a{background-position: -150px 0;}
.sns_menu li.band a{background-position: -180px 0;}
.sns_menu li.kakao a{background-position: -210px 0;}
/* footer_02 */
.footer_02{height: 132px; background: #3b414d;}   
.footer_02 .container{box-sizing: border-box; padding: 30px 0; background: url(../img/footer_symbol.png) no-repeat center left;}
.footer_info{margin-left: 100px; float: left;}
.footer_info .info_01{font-size: 14px;}
.footer_info .info_01:after{content: ""; display: table; clear: both;}
.footer_info .info_01 li{float: left; padding: 0 15px; color: #fff;}
.footer_info .info_01 li a{color: #fbcd32;}
.footer_info .info_01 li:first-child{padding-left: 0;}
.footer_info .info_01 li:not(:last-child){background: url(../img/footer_divide_line2.png) no-repeat center right;}
.footer_info .info_02{font-size: 14px; color: #b8c4d1; text-transform: uppercase;}
.footer_info .info_03{font-size: 13px; color: #99a9c8; margin-top: 15px;}
.footer_img_links{float: right;}
.footer_img_links div{float: left; margin-left: 20px; text-align: center;}
.footer_img_links img{display: block; width: 100%;}
.footer_img_links .qrcode span{font-size: 11px; color: #fff;}
.footer_img_links .web_watch img{margin-top: 5px;}
.footer_img_links .web_watch a{width: 70px; height: 50px; display: block;}
.footer_img_links .privacy a{width: 66px; height: 66px; display: block;}

