@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* initial setting */
#wrap{font-family: 'Noto Sans KR', sans-serif;}
a{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1200px; height: inherit; margin: 0 auto; background: rgba(0, 0, 0, 0.02);}


.sub_nav{height: 48px; border-bottom: 1px solid #d2d2d2;}
#homeButton{width: 48px; height: 49px; background: #d1463b; border-right: 1px solid #d2d2d2; float: left;}
.sub_nav_box{width: 218px; height: 48px; border-right: 1px solid #d2d2d2; float: left;}
.function_box{width: 46px; height: 48px; border-right: 1px solid #d2d2d2; float: right;}
.function_box:last-child{border-left: 1px solid #d2d2d2;}

.contents{background: #eeeff3;}
.page_title{height: 134px;}

.cont_box{height: 723px;}
.cont_box .container{background: #fff;}
.box_for_boss{height: 481px;}
.box_info_boss{height: 242px;}
.list_news{width: 457px; height: 202px; margin-left: 40px; float: left;}
#tab_news{width: 100%; height: 39px; border-bottom: 2px solid #3a3a3a;}
#cont_news{width: 100%; height: 161px;}
.imagelink{width: 207px; height: 200px; margin-right: 18px; border: 1px solid #ccc; float: left;}
