@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* initial setting */
#wrap{font-family: 'Noto Sans KR', sans-serif;}
a{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1200px; height: inherit; margin: 0 auto; background: rgba(0, 0, 0, 0.02);}

.sub_nav{height: 48px; border-bottom: 1px solid #d2d2d2;}
#homeButton{width: 48px; height: 49px; background: #d1463b; border-right: 1px solid #d2d2d2; float: left;}
.sub_nav_box{width: 218px; height: 48px; border-right: 1px solid #d2d2d2; float: left;}
.function_box{width: 46px; height: 48px; border-right: 1px solid #d2d2d2; float: right;}
.function_box:last-child{border-left: 1px solid #d2d2d2;}

.page_title{height: 150px;}

.category_box{height: 45px;}
.category_box .container{border-bottom: 1px solid #414141;}
.categories{width: 199px; height: 44px; border-top: 1px solid #ccc; border-bottom: 1px solid #414141; border-left: 1px solid #ccc;  float: left;}
.categories:last-child{border-right: 1px solid #ccc;}

.cont_box{height: 694px;}
