@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.page_title{height: 174px;}
.page_title .container{position: relative;}
.page_title h1{text-align: center; padding-top: 40px; font-size: 34px; color: #212121; font-weight: bold;}
.page_title p{text-align: center; font-size: 14px; color: #494949; font-weight: bold; margin-top: 5px;}
.page_title a{display: block; width: 48px; height: 48px; position: absolute; top: 60px; background: url(../img/slide_nav_gray.png) no-repeat;}
.page_title .goto_l{left: 100px;}
.page_title .goto_r{right: 100px; background-position: -48px 0;}

.cont_box{height: 905px;}
.cont_box .container{border-top: 2px solid #333;}
.cont_box ul li{height: 62px; border-bottom: 1px solid #ccc; position: relative;}
.cont_box ul li a{display: block; box-sizing: border-box; padding-left: 30px; line-height: 62px; font-size: 20px; color: #333; font-weight: bold;} 
.cont_box ul li a .title_icon{display: inline-block; margin-right: 10px; width: 14px; height: 14px; background: url(../img/subpages_img/icons.png) no-repeat; background-position: -338px -8px;}
.cont_box ul li a .detail_icon{display: inline-block; width: 34px; height: 34px; position: absolute; top: 15px; right: 30px; background: url(../img/subpages_img/arrows_upanddown.png) no-repeat;}

.table_incharge{height: 211px;}
.table_incharge .container{border-top: 2px solid #333;}
.table_incharge table{border-collapse: collapse; font-size: 15px; font-weight: bold; text-align: center;}
.table_incharge th, td{width: 298px; height: 43px; border: 1px solid #ccc; border-top: none;}
.table_incharge th{border-top: none; border-bottom: 1px dashed #ccc; background: #f7f7f7; color: #333;}
.table_incharge th:last-child, td:last-child{width: 301px;}
.table_incharge td{color: #888;}