@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* initial setting */
#wrap{font-family: 'Noto Sans KR', sans-serif;}
a{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 1200px; height: inherit; margin: 0 auto; background: rgba(0, 0, 0, 0.02);}


.sub_nav{height: 48px; border-bottom: 1px solid #d2d2d2;}
#homeButton{width: 48px; height: 49px; background: #d1463b; border-right: 1px solid #d2d2d2; float: left;}
.sub_nav_box{width: 218px; height: 48px; border-right: 1px solid #d2d2d2; float: left;}
.function_box{width: 46px; height: 48px; border-right: 1px solid #d2d2d2; float: right;}
.function_box:last-child{border-left: 1px solid #d2d2d2;}

.page_title{height: 121px;}

.search_box{height: 70px;}
.search_box .container{background: #f4f4f4;}
#searchOption{width: 148px; height: 40px; margin-left: 327px; margin-top: 15px; padding: 6px 10px; padding-right: 20px; border: 1px solid #d2d2d2;}
#searchCont{width: 228px; height: 26px; margin-top: 15px; margin-left: 3px; padding: 6px 10px; border: 1px solid #d2d2d2;}

.cont_box{height: 809px;}
